<html>
    <!-- This page is just for reference we list out the various endpoints and url routes in case they aren't immediately obvious to you from looking at server/server.py -->
    <h1>Security I - Homework 3 - API Documentation</h1>
    <body>
        <ul>
            <li>
                <h4>Part 0: Command Injection</h4>
                <ul>
                    <li>Low</li>
                    <li>Medium</li>
                    <li>High</li>
                </ul>
            </li>
            <li>
                <h4>Part 1: SQL Injection</h4>
                <ul>
                    <li>Low</li>
                </ul>
            </li>
            <li>
                <h4>Part 2: Cross-Site Scripting XSS</h4>
                <h5>Reflected</h5>
                <ul>
                    <li>Low</li>
                    <li>Medium</li>
                    <li>High</li>
                </ul>
                <h5>Stored</h5>
                <ul>
                    <li>Low</li>
                    <li>Medium</li>
                    <li>High</li>
                </ul>
                <h5>DOM</h5>
                <ul>
                    <li>Low</li>
                    <li>Medium</li>
                    <li>High</li>
                </ul>
            </li>
            <li>
                <h4>Part 3: Cross-Site Request Forgery</h4>
                <ul>
                    <li>Low</li>
                    <li>Medium</li>
                    <li>High</li>
                </ul>
            </li>
        </ul>
    </body>
</html>
